<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <connectionStrings>
      <add name="profiledb" connectionString="Data Source=WIN-5LA6R0OM5S8\SQLEXPRESS;Initial Catalog=aspnetdb;User ID=sa;Password=qwe123qwe" />
    </connectionStrings>
    
    
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />     
        
      
      <profile defaultProvider="SqlProvider">
        <providers>
          <clear/>
          <add name="SqlProvider"
               type="System.Web.Profile.SqlProfileProvider"
               connectionStringName="profiledb"
               applicationName="StateManagementWebApplication"/>
        </providers>
        <properties>
          <add name="Name"/>
          <add name="Email"/>
          <add name="Birthday" type="DateTime"/>
        </properties>
      </profile>      

      <pages>
        <controls>
          <add tagPrefix="ctrl" namespace="StateManagementWebApplication" assembly="StateManagementWebApplication"/>
        </controls>
      </pages>    
      
    </system.web>  
</configuration>
